doctype html
html(lang="en")
    head
        title
    body
        h1 "The future home, of something awesome!"
        p Salvia bitters jean shorts man bun, hammock listicle austin waistcoat shabby chic plaid chartreuse. Fap yr quinoa slow-carb franzen, fingerstache 90's YOLO man braid ennui waistcoat taxidermy offal. Portland irony locavore, umami PBR&B celiac neutra taxidermy hoodie. Occupy health goth letterpress, beard 8-bit +1 you probably haven't heard of them. Truffaut normcore +1, stumptown selfies readymade paleo brunch DIY. Normcore schlitz sartorial, cold-pressed photo booth kickstarter vegan hammock gastropub lo-fi try-hard shabby chic yr echo park plaid. Meh cronut health goth deep v.